---
import { Debug } from 'astro/components';
import { BUNDLED_LANGUAGES } from 'shiki';
import NewPasteForm from '../components/NewPasteForm.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex justify-center">
    <section class="w-full flex flex-col gap-4 max-w-4xl" id="uusi">
      <Title id="uusi" title="Uusi liite" class="text-white" />
      <NewPasteForm />
      <Debug {BUNDLED_LANGUAGES} />
    </section>
  </div>
</Layout>
