<header class="max-w-fit flex flex-col gap-4">
  <h1 class="text-3xl sm:text-4xl md:text-6xl text-center font-black">
    Liiteroskis - Pastebin.Fi
  </h1>
  <nav class="">
    <ul class="flex justify-between items-center gap-2">
      <li class="text-sm sm:text-base">Uusi paste</li>
      <li class="text-sm sm:text-base">Selaa liitteitä</li>
      <li class="text-sm sm:text-base">Tietoa meistä</li>
      <li class="text-sm sm:text-base">Lähdekoodi</li>
    </ul>
  </nav>
</header>
