<header class="max-w-fit flex flex-col gap-4 mx-auto">
  <h1
    class="text-3xl sm:text-4xl md:text-6xl text-center font-black text-white"
  >
    Liiteroskis - Pastebin.fi
  </h1>
  <nav class="">
    <ul class="grid grid-cols-4 justify-between items-center">
      <li class="flex items-center"><a href="/">Luo uusi liite</a></li>
      <li class="flex items-center">
        <a href="/browse">Selaa liitteitä</a>
      </li>
      <li class="flex items-center justify-end">
        <a href="/about">Tietoa meistä</a>
      </li>
      <li class="items-center justify-end hidden sm:flex">
        <a href="/source">Lähdekoodi</a>
      </li>
    </ul>
  </nav>
</header>
