---
import { BUNDLED_LANGUAGES } from 'shiki';
import Checkbox from './forms/Checkbox.astro';
import Datalist from './forms/Datalist.astro';
import SubmitButton from './forms/SubmitButton.astro';
import TextInput from './forms/TextInput.astro';
import TextareaInput from './forms/TextareaInput.astro';

const options = [
  { value: 'plaintext' },
  ...BUNDLED_LANGUAGES.map((lang) => ({
    value: lang.id,
  })),
];
---

<form
  action="/new"
  method="post"
  class="gap-4 my-4 grid-cols-3"
  name="new_paste"
>
  <TextInput
    name="title"
    label="Liitteen nimi"
    class="title"
    min={3}
    maxlength={60}
    required
  />
  <Datalist
    name="language"
    label="Kieli"
    options={options}
    class="language"
    required
  />
  <Checkbox name="private" class="private mx-8 mt-8 justify-center">
    Yksityinen
  </Checkbox>  
  <TextareaInput name="content" label="Sisältö" class="content" required />
  <SubmitButton class="submit text-black">
    Luo
  </SubmitButton>
</form>

<style>
  form {
    display: grid;
    grid-template-areas:
      'name language private'
      'content content content'
      '. submit .';
  }

  .name {
    grid-area: name;
  }

  .language {
    grid-area: language;
  }

  .private {
    grid-area: private;
  }

  .content {
    grid-area: content;
    @apply h-72;
  }

  .submit {
    grid-area: submit;
  }
</style>
