---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'select'> {
  label: string;
  options: { value: string; label: string }[];
  name: string;
}

const { label, options, name, class: className, ...rest } = Astro.props;
---

<div class:list={['form-control w-full max-w-xs', className]}>
  <label class="label">
    <span class="label-text">{label}</span>
  </label>
  <select class="select select-bordered select-secondary" name={name} {...rest}>
    {
      options.map((el, index) => (
        <option value={el.value} selected={options.length === index}>
          {el.label}
        </option>
      ))
    }
  </select>
</div>
